<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
 <div class="style" style="width: 50%; margin: auto;">
   <%- include('./composants/header')%>
      ------------------
      <p>-------------------------------</p>
    </section>
    <section>
      <p>L dipisicing elit. Ullam blanditiis cum, perspiciatis fuga rror relorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nobis provident fugit molestias. Est, non. Soluta commodi est deserunt explicabo eligendi quo dolor quisquam adipisci ab, nemo placeat alias? Officia. s commodi ipsam architecto assumenda eaque, praesentium ipsa!</p>
    </section>
  </div>
</body>
</html>