<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
 <div class="style" style="width: 50%; margin: auto;">
   <%- include('./composants/header')%>
      
      <p>-------------------------------</p>
    </section>
    <section>
      <p>L dipisicing elit. Ullam blanditiis cum, perspiciatis fuga rror repellat debitis commodi ipsam architecto assumenda eaque, praesentiorem ipsum dolor sit amet consectetur adipisicing elit. Ullam blanditiis cum, perspiciatis fuga rror repellat debitis commodi ipsam architecto assumenda eaque, praesentium ipsa!</p>
    </section>
  </div>
</body>
</html>