<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>not found</title>
</head>
<body>
  <div class="style" style="width: 50%; margin: auto;">
    <%- include('./composants/header') %>
    <section>
      
      <p>----------------------------------------------</p>
    </section>
    <section><h2>404 - NOT FOUND</h2>
    <p>vous avez tape un URL incorrect</p></section>
  </div>
</body>
</html>